@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
  }
  
  * {
    box-sizing: border-box;
  }
// Esto aplica a todos los componentes.
// npm install --save-dev eslint babel-eslint eslint-config-airbnb eslint-plugin-import eslint-plugin-react eslint-plugin-jsx-a11y