body {
    margin: 0;
    background-color: red;
    color: white;
}

// npm install --save-dev eslint babel-eslint eslint-config-airbnb eslint-plugin-import eslint-plugin-react eslint-plugin-jsx-a11y