{
    "presets": [
        "@babel/preset-env", // Para trabajar con ESCMASCRIPT 5 y 6
        "@babel/preset-react" // Para trabajar con React (.jsx)
    ]
}

// Se agrega la compatibilidad con varios navegadores.

// npm install @babel/core babel-loader @babel/preset-env @babel/preset-react --save-dev